body, nav, ul, li, .button, h1, .firstnav{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #f9fafc;
}

.navbar {
    list-style-type: none;
    margin-left: 10px;
    padding: 5px;
}
.button {
    background-color: #000;
    color: #FFF;
    padding: 10px;
    width: 98.5vw;
    display: block;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    font-size: 17px;
}
.firstnav {
    color: black;
    text-decoration: none;
}
.main {
    color: #69696a;
    margin-left: 10px;
    border-left: 3px #69696a solid;
    padding-left: 10px;
}
.header1 {
    margin-left: 10px;
    font-size: 16px;
    padding: 5px;
}
.link {
text-decoration: none;
color: #69696a;
}